RewriteEngine On
RewriteBase /
DirectoryIndex index.php

RewriteCond %{HTTP_HOST} !localhost$
RewriteCond %{HTTP_HOST} !uplight.ml$
RewriteRule .* - [F]

SetEnvIf REDIRECT_HTTPS (.*) HTTPS=$1
RewriteCond %{ENV:HTTPS} !on
RewriteCond %{HTTP_HOST} !localhost$
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php [END,QSA]
